<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sed Online: Find & Replace</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Sed Online</h1>
        <p>Find and replace</p>
    </header>

    <main>
        <p>
            <em>Has a response ever not been <strong>just</strong> right?</em><br>
            Run find-and-replace on your requests today!
        </p>
        <section> q
            <h4>Usage</h4>
            <code>Get /&lt;pattern&gt;/&lt;replacement&gt;/&lt;input&gt;</code>
            <p>
                <code>pattern</code> is a regular expression.<br>
                <code>replacement</code> is a string.<br>
                <code>input</code> is a string or URL
            </p>
        </section>
        <section>
            <h4>But Why?</h4>
            <p>
                Syncing calendars into <a href="calendar.google.com">Google Calendar</a>
                is easy with iCal links, but what if your source calendar is missing critical info?
                That happened to me, and I wasn't allowed to add a location afterwards.
                So I made this tool to add it for me.
            </p>
        </section>

        <p class="notice">
            Work in progress! Many features of sed are not yet implemented. Usage is subject to change.
        </p>

    </main>

    <footer>
        <p>© Leon Leibmann 2023</p>
    </footer>

</html>